<h1><%= @post.title %></h1>
<h2><%= @post.created_at %></h2>
<h2><a href='<%=user_path(@post.user)%>'><%= @post.user.full_name %></a></h2>
<h2><%= @post.body %></h2>
<h2>Comments:</h2>
<ul>
  <% @comments.each do |comment| %>
  <li><%=comment.content%></li>
  <%end%>
</ul>
